/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2014, 6:49:46 PM
    Author     : ajavalera
*/

#admin-menu, 
#admin-menu a {
  font-size: $skin-admin-menu-font-size;
  background: none;
  background-color: $skin-admin-menu-background-color; 
  color: $skin-admin-menu-font-color;
}
