/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2014, 3:16:36 PM
    Author     : ajavalera
*/

#header {
  background-color: $skin-header-background-color;
  border-top-left-radius: $skin-all-boxes-radious;
  border-top-right-radius: $skin-all-boxes-radious;
  margin-bottom: 5px;
}

#header #site-name a span {
  color: $skin-header-title-color;
}

#header #site-name a:link,
#header #site-name a:hover,
#header #site-name a:visited {
  text-decoration: none;
}

#header #secondary-menu {
  margin-top: 18px;
}

#header #secondary-menu a:visited,
#header #secondary-menu a:link, 
#header #secondary-menu a:hover {
  color: $skin-header-link-color;
  text-decoration: none;
}

#header #secondary-menu a:hover {
  color: $skin-header-link-hover-color;
}