/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2014, 3:16:36 PM
    Author     : ajavalera
*/
/* line 13, ../sass/skins/green-dark/page.scss */
body {
  background-color: #99AD99;
}

/* line 17, ../sass/skins/green-dark/page.scss */
#page {
  background-color: #99AD99;
}
